# PostgreSQL

POSTGRES_DB=hotel_db
POSTGRES_USER=hotel_user
POSTGRES_PASSWORD=change_me
POSTGRES_PORT=5432

# pgAdmin

PGADMIN_DEFAULT_EMAIL=[admin@example.com](mailto:admin@example.com)
PGADMIN_DEFAULT_PASSWORD=change_me
PGADMIN_PORT=5050
